fastapi[all]
Pyjwt
pwdlib==0.3.0
pwdlib[argon2]
pwdlib[bcrypt]
sqlalchemy
fastapi-swagger==0.4.45
psycopg2-binary
asyncpg
alembic
celery[redis]
redis
Pillow>=10.0.0
boto3  # s3 for Development
locust
pytest
pytest-asyncio
pytest-cov
fakeredis
httpx
aiosqlite